/train_images/
/test_images/
/.idea/
/venv/
/train_tfrecords/
/test_tfrecords/
/train_tfrecords_decode_resize/
/mean_std_information/
/preprocess/
/model/
/hash_images/
/duplicates_images/
*.rar
*.pyc
/__pycache__/
/plant-pathology-2020-fgvc7/
/train_extra_tfrecords/
/model_attention_after/
/model_attention_before/
*.7z.*