/train_images/
/test_images/
/.idea/
/venv/
/train_tfrecords/
/test_tfrecords/
/train_tfrecords_decode_resize/
/mean_std_information/
/preprocess/
/model/
/hash_images/
/duplicates_images/
*.rar
*.pyc
/__pycache__/